<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     {{>header}}
     <p>This site is created by Pooja Kailiwal</p>
    <img class="portrait" src="../img/mypic.png" >
    
     {{>footer}}
</body>

</html>